.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border_width: 10px;
background-color: rgb(215, 171, 247);
border-style: ridge;
border-color:darkviolet;




    
}

